<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Taipei travel</title>
</head>
<body>


    <div class="container">

        <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mysearch3">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </div>
          </div>


        <br>
        <h2>台北市景點查詢網站</h2>
        <br>
        <form action="/mysearch3" method="post">
            Hello, 請輸入關鍵字尋找景點 ?
            <div class="form-row">
                <div class="form-group col-11">
                    <input class="form-control" name="city_name" placeholder="請輸入查詢的關鍵字 ex:台北">
                </div>
                <div class="form-group col-1">
                    <input class="btn btn-danger" type="submit" value="查詢">
                </div>
            </div>
        </form>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>景點名稱</th>
                    <th>捷運站</th>
                    <th>類別</th>
                    <th>經度</th>
                    <th>景點介紹</th>
                </tr>
            </thead>
            <tbody>
                {% for member in myclist %}
                <tr>
                    <td>
                        <a href="" target="_blank">{{ member.0 }}</a>
                    </td>
                    <td width="100px">{{ member.1 }}</td>
                    <td width="80px">{{ member }}</td>
                    <td>{{ member }}</td>
                    <td width="650px">{{ member }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>




    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>>

